@{
  Layout = "/Views/_Layout.cshtml"; // root path is the project root
}

@model youtube_feed_asp.Controllers.ChannelModel

@if (Model.Type == youtube_feed_asp.Enums.VideoType.Subscription)
{
  <h1>Subscriptions</h1>
}
else
{
  <h1>Watch Later</h1>
}

@foreach (var channel in Model.Channels)
{
  <h2>@channel.Name</h2>
  @if (Model.Type == youtube_feed_asp.Enums.VideoType.Subscription)
  {
    <button class="btn btn-primary" onclick="update_channel_subscriptions('@channel.ChannelId')">Update subscriptions</button>
  }

  @if (channel.Videos.Count != 0)
  {
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Video</th>
          @if (Model.Type == youtube_feed_asp.Enums.VideoType.Subscription)
          {
            <th scope="col">Publishing Time</th>
          }
          else
          {
            <th scope="col">Time Added</th>
          }
        </tr>
      </thead>
      <tbody>
      @foreach (var video in channel.Videos)
      {
        <tr id="@video.VideoId">
          <td class="text-center">
            <button onclick="return delete_video('@video.VideoId')" class="btn-close btn-close-white" ></button>
          </td>
          <td>
            <a
              target="_blank"
              href="@video.Url"
              onclick="return delete_video('@video.VideoId')"
              onauxclick="return delete_video('@video.VideoId')"
            >
              @video.Title
            </a>
          </td>
          <td>
            @video.GetReadablePublishingTime()
          </td>
        </tr>
      }
      </tbody>
    </table>
  }
  else 
  {
    <p>No videos.</p>
  }
}