@{
  Layout = "/Views/_Layout.cshtml"; // root path is the project root
}

@model List<youtube_feed_asp.Models.Video>

<h1>Subscriptions</h1>

<button onclick="update_channel_subscriptions('all')" class="btn btn-primary">Update all subscriptions</button>

Add subscription: 
<input type="text" placeholder="Channel ID" id="add_subscription_field">
<button onclick="subscribe_to_channel()" class="btn btn-primary">Subscribe</button>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Uploader</th>
      <th scope="col">Video</th>
      <th scope="col">Publishing Time</th>
    </tr>
  </thead>
  <tbody>
    @for (int i = 0; i < Model.Count(); i++)
    {
      <tr id="@Model[i].VideoId">
        <td class="text-center">
          <button onclick="return delete_video('@Model[i].VideoId')" class="btn-close btn-close-white" ></button>
        </td>
        <td>
          <a href="@Model[i].Uploader.Url">@Model[i].Uploader.Name</a>
        </td>
        <td>
          <a
            target="_blank"
            href="@Model[i].Url"
            onclick="return delete_video('@Model[i].VideoId')"
            onauxclick="return delete_video('@Model[i].VideoId')"
          >
            @Model[i].Title
          </a>
        </td>
        <td>
          @Model[i].GetReadablePublishingTime()
        </td>
      </tr>
    }
  </tbody>
</table>