@{
  Layout = "/Views/_Layout.cshtml"; // root path is the project root
}

@model List<youtube_feed_asp.Models.Video>

<h1>Subscriptions</h1>

<table>
  @for (int i = 0; i < Model.Count(); i++)
  {
    <div class="row" id="@Model[i].VideoId">
      <div class="col-8">
        <button class="btn-close btn-close-white"></button>
        <a
          target="_blank"
          href="@Model[i].Url"
        >
          @Model[i].Title
        </a>
      </div>
      <div class="col-2">
        @Model[i].GetReadablePublishingTime()
      </div>
      <div class="col-2">
        <a href="@Model[i].Uploader.Url">@Model[i].Uploader.Name</a>
      </div>
    </div>
  }
</table>